<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;
=======

.columncenter{
    font-size: 20px;
}

body {
   margin: 0;
    padding: 0;
>>>>>>> e896daba1a7f2266a64ba19b188da03113b412ea
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f7f8;
  line-height: 1.5;
  font-size: 15px;
}

/* ==header== */
header {
  background-color: #199de5;
  color: white;
  display: flex;
  height: 50px;
  position: sticky;
  top: 0;
  width: 100%;
}

header a {
  color: white;
}
header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
span {
  padding-left: 20px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-right {
  background-color: #2b617e;
}
.nav-right:hover {
  background-color: lightgray;
}
.nav-left ul i:hover {
  background-color: white;
  color: black;
}

i {
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 30% 50% 15%;
  grid-gap: 2%;
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/* (column-1 , row-1) my profile section */
.container-profile {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  height: 310px;
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgb(224, 222, 222);
}
.container-profile img {
  display: inline-block;
  margin: 10px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}
.container-profile h4 {
  font-size: 20px;
  margin: 0;
}
.container-profile p {
  text-align: left;
}
.container-profile p i {
  color: #607d8b;
  display: inline-block;
  padding: 0 10px;
}
.container-profile hr {
  width: 90%;
  border: 1px solid #eee;
}

/* upcoming events section */

.container-events {
  box-sizing: border-box;
  padding: 15px;
  background-color: white;
  text-align: center;
  max-height: 20%;
  width: 100%;
  box-shadow: 0px 2px 5px 0px rgb(224, 222, 222);
  border-radius: 5px;
}

.container-events img {
  width: 85%;
  min-height: 180px;
}

.info button {
  border: transparent;
  width: 100%;
  min-height: 40px;
  background-color: #dfe5e8;
}
.info button:hover {
  background-color: #c5c5c5;
}
/* friend */
.container-request {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 15px;
  background-color: white;
  text-align: center;
  height: 15%;
  box-shadow: 0px 2px 5px 0px rgb(224, 222, 222);
  border-radius: 5px;
}
figure {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.container-request figure img {
  width: 100%;
  min-height: 110px;
}
.check button {
  border: transparent;
  min-height: 30px;
  color: white;
  width: 100%;
}
.check {
  margin: 10px 0;
  display: flex;
}

.check-1 {
  background-color: rgb(76, 175, 80, 0.5);
}
.check-2 {
  background-color: rgb(255, 99, 71, 0.5);
}
.ads,
.bug {
  box-shadow: 0px 2px 5px 0px rgb(224, 222, 222);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 100%;
}
.bug {
  height: 120px;
}

<<<<<<< HEAD
.post textarea {
  padding-left: 10px;
  border: 1px solid #ccc;
  width: 100%;
  resize: none;
  text-align: justify;
}
.post-button {
  margin-top: 15px;
  margin-bottom: 0;
}
/* rachel post */
.container-rs {
  padding: 20px 30px 10px 20px;
  box-shadow: 0px 2px 5px 0px rgb(224, 222, 222);
  background-color: white;
  min-height: 400px;
}
.name {
  display: flex;
  align-items: center;
}
.name p {
  margin: 20px;
}
.name img {
  max-height: 70px;
  border-radius: 50%;
  border: 1px solid;
}
.picture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.picture img {
  max-width: 95%;
  min-height: 180px;
}
=======


header{
    background-color:#199de5;
    color: white;
    display: flex;
    height: 50px;


    position: sticky;
  top:0;
    width: 100%;
}
header a{
    color: white;
}
header ul{ 
    display: flex;
    justify-content: center;
    vertical-align: flex;
  margin:0;
  padding:0;
     
}
.col3{
    margin:10px;
    text-align: left;
    background-color:white;
    padding: 0.15px 16px;
    border-radius: 10px;
}

.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    
}
.aikolsphoto , .rachelsphoto {
    border-radius: 50%;
    margin-right: 16px;
    float: left;
}
.center-column{
    margin:16px;
    text-align: left;
    background-color:white;
    padding: 0.15px 16px;
    border-radius: 10px;
    box-shadow: 5px 0px 5px 5px rgba(135,171,224,0.37);
}
h4{
  margin: 10px 0px;
  font-weight:normal;

}
.time{
    opacity: 0.50;
    float: right;
    
}
.button { 
    margin: 0 0 15px;
    border: none;
    padding: 7px 15px;
    background-color:#199de5;
    font-size: 20px;
    size: 15px;
    color: white;
}

a :hover{
    background-color: lightgray;
    color: black;
}

.line{
    opacity: 0.50;
}
#bootcampvenue{
    color: black;
}

i{
    padding: 20px;
}

>>>>>>> e896daba1a7f2266a64ba19b188da03113b412ea
